.menu {
    position: fixed;
    top: 40px;
    right: 40px;
    background: rgba(0,0,0,.75);
    padding: 20px;
}

.menu a {
    color: white;
    display: block;
    padding: 10px;
    font-family: sans-serif;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}
